<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/d44f71ab07.js" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
  <h3 id="boardname">공지사항</h3>
  <div id="notice" hidden>notice</div>
  <div id="content_title" onclick="titleclick()"></div>
  <div id="content_board" ></div>

  <div><a href="/noticewrite">쓰기(아이콘)</a></div>
  <script>
    const title = document.querySelector('#content_title')
    const board = document.querySelector('#content_board')
    const boardname = document.querySelector('#notice').textContent;
    (async function() {
      const res = await axios({
        method:'post',
        url:'/api/colla/noticeall',
        data: {data: boardname}
      })

      console.log(res);
      res.data.contents.forEach(item => {
        const html = 
        `<div>${item.user.username}</div>
        <div>${item.title}</div>`
        const css =
        `<div>${item.contents}</div>`
        title.insertAdjacentHTML('beforeend', html)
        title.insertAdjacentHTML('beforeend',css)
      });
      
    })();

   function titleclick(){

   }

  </script>
</body>
</html>

